<div class="container">
  <section id="recipes">
    <h1>{{title}}</h1>
    <button class="newRecipe" ng-click="newRecipe()">New Recipe</button>
    <div class="newRecipeForm" ng-class="{open: newForm}">
      
      <div class="input_group">
        <label>Name</label>
        <input type="text" ng-model="newRec.title">
      </div>
      <div class="input_group">
        <label>Description</label>
        <input type="text" ng-model="newRec.description">
      </div>
      <div class="input_group">
        <label>Ingredients</label>
        <div class="addItems">
          <div class="item_group" ng-repeat="item in ingredients">
            <i class="fa fa-minus" ng-click="removeIngredient($index)" ng-show="$last"></i>
            <div class="group">
              <label>Name</label>
              <input type="text" ng-model="newRec.ingredients[$index].name">
            </div>
            <div class="group">
              <label>Amount</label>
              <input type="text" ng-model="newRec.ingredients[$index].amount">
            </div>
          </div>
        </div>
        <button class="addItemButton" ng-click="addIngredient()"><i class="fa fa-plus"></i></button>
      </div>
      <button class="newRecipeBtn" ng-click="addRecipe(newRec)">Add Recipe</button>
      <i class="fa fa-times close" ng-click="newRecipe()"></i>
    </div>
    <article ng-repeat="recipe in recipes" ng-class="{'inMenu': recipe.inMenu}">
      <h3 class="recipe-name">
      <span>{{recipe.title}}</span>
      <i class="fa fa-trash-o" ng-click="removeRecipe(recipe, $index)"></i>
      </h3>
      <p class="description">{{recipe.description}}</p>
      <div class="ingredients">
        <div class="ingredient" ng-repeat="ingredient in recipe.ingredients"><i class="chip">{{ingredient.name | limitTo:1}}</i><span>{{ingredient.name}} - {{ingredient.amount}}</span></div>
      </div>
      <button class="addMenu" ng-hide="recipe.inMenu" ng-click="addToMenu(recipe, $index)">Add to Menu</button>
      <button class="removeMenu" ng-hide="!recipe.inMenu" ng-click="removeMenu(recipe, $index)">Remove From Menu</button>
    </article>
  </section>
</div>