@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700')

@import 'tools/tools'

$primary: #393E46
$primaryDark: #222831
$accent: #1BADB5
$danger: #E26A6A
$text: #333333
$white: #FFFFFF

$vertical-rhythm: 30px

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: "Lato", Helvetica, sans-serif
  background: #eeeeee
  font-weight: 300
  font-size: 14px

h1, h2, h3, h4, h5
  font-weight: 300
  margin: 0

.container
  width: 80%
  padding-top: 80px
  padding-bottom: 80px
  margin: 0 auto

  +clearfix()

.row
  +row()

header
  height: 80px
  background: $primaryDark
  width: 100%
  box-shadow: 0 1px 2px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000

  .row
    padding-left: 100px
    padding-right: 100px

  h1.title
    line-height: 80px
    color: #FFFFFF
    font-weight: 400
    +span-columns(8)
    font-size: 1.5em

  span.loggedEmail
    display: none

nav
  width: 100vw
  top: auto
  left: 0
  right: 0
  bottom: 0
  height: auto
  padding-top: 0

  ul

    li
      +span-columns(4)
      height: 50px
      font-size: 1em
      box-sizing: border-box

      i
        margin-top: 10px

      &.active
        border: none

        a, a i, a span
          color: $accent

        &:hover
          border: none

      &:hover
        border: none
        background: $primaryDark

article
  background: $white
  padding: 15px
  box-shadow: 1px 1px 2px rgba(0,0,0,0.14), -1px 1px 2px rgba(0,0,0,0.14)
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in
  margin-top: $vertical-rhythm
  border-radius: 3px

  &.inMenu
    background: $accent

@import 'pages/pages'
@import 'modules/modules'
