<section id="home">

    <h1>{{title}}</h1>

    <article>

        <form class="login">
            <h3 class="form-title">Login</h3>
            <div class="group" ng-show="loginError">
                <p class="form-error">{{ loginError.msg }}</p>
            </div>
            <div class="group">
                <input ng-model="userLogin.email" required type="text"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input ng-model="userLogin.password" required type="password"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="group">
                <button class="form-submit login" ng-click="login(userLogin)">Log In</button>
                <div class="remember-me" ng-click="checkRemember()">
                    <i class="fa" ng-class="{'fa-square-o': !rememberMe, 'fa-check-square-o': rememberMe}"></i>
                    Remember Me
                </div>
                <div class="sign-up">
                    <a ui-sref="signup">Sign Up!</a>
                </div>
            </div>
        </form>

    </article>

</section>