#{$all-buttons}
    background-color: $primaryDark
    color: #FFFFFF
    padding: 7px 14px
    letter-spacing: 1px
    border: none
    outline: none
    cursor: pointer
    font-weight: 400
    font-size: 1rem
    text-shadow: none
    border-radius: 1px
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: box-shadow 0.3s ease-in-out

.btn-sm
    font-size: 0.8rem
    padding: 4px 9px

.btn-blk
    width: 100%
    margin: 10px 0

.form-submit
    font-size: 1.1rem
    width: 100%

    &.login
        color: #FFFFFF

    &.signup
        background: #FFFFFF
        color: $primary