@media screen and (max-width: 400px)
  .container
    width: 100vw
    margin: 0

  .row
    padding-left: 50px
    padding-right: 50px

  header
    .row
      padding-left: 20px
      padding-right: 20px

    a.loggedEmail
      display: none

  nav
    width: 100vw
    top: auto
    left: 0
    right: 0
    bottom: 0
    height: auto
    padding-top: 0

    ul

      li
        +span-columns(4)
        height: 50px
        font-size: 1em
        box-sizing: border-box

        i
          margin-top: 10px

        &.active
          border: none

          a, a i, a span
            color: $accent

          &:hover
            border: none

        &:hover
          border: none
          background: $primaryDark

  section#recipes,
  section#menu,
  section#shopping
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 50px

  section#recipes
    .ingredients
      span
        display: block
        margin-bottom: 10px

  section#menu
    .ingredients
      span
        display: block
        margin-bottom: 10px

  section#shopping
    h3
      font-size: 22px
    .shopping-list
      li
        font-size: 1.3em